workflow.json
{
  "name": "YouTube Shorts Automation",
  "nodes": [
    {
      "parameters": {
        "cronExpression": "0 10 * * *"
      },
      "id": "1",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "url": "https://youtube-trending-videos1.p.rapidapi.com/trending?geo=US&lang=en&category=1",
        "options": {
          "headers": {
            "x-rapidapi-host": "youtube-trending-videos1.p.rapidapi.com",
            "x-rapidapi-key": "={{ $env.RAPIDAPI_KEY }}"
          }
        }
      },
      "id": "2",
      "name": "Fetch Trending Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.items[0].video_url }}",
        "options": {
          "binaryData": true
        }
      },
      "id": "2.1",
      "name": "Download Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "command": "ffmpeg -i {{$binary.data.fileName}} -ss 00:00:00 -t 00:00:60 -c:v libx264 -preset fast -c:a aac -strict -2 output.mp4",
        "output": "binary",
        "binaryPropertyName": "data"
      },
      "id": "3",
      "name": "Clip 60s",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "options": {
          "headers": {
            "Content-Type": "application/json",
            "Authorization": "Bearer ={{ $env.OPENAI_API_KEY }}"
          }
        },
        "body": {
          "model": "gpt-3.5-turbo",
          "messages": [
            {
              "role": "user",
              "content": "Generate a catchy YouTube Shorts title, engaging description, and 5 SEO hashtags for a video titled: {{$json.items[0].title}}. Return the response in JSON format with keys 'title', 'description', and 'hashtags'."
            }
          ]
        }
      },
      "id": "4",
      "name": "Generate Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ JSON.parse($json.choices[0].message.content).title }}"
            },
            {
              "name": "description",
              "value": "={{ JSON.parse($json.choices[0].message.content).description }}"
            },
            {
              "name": "hashtags",
              "value": "={{ JSON.parse($json.choices[0].message.content).hashtags }}"
            }
          ]
        }
      },
      "id": "4.1",
      "name": "Set Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "authentication": "oAuth2",
        "video": {
          "title": "={{ $json.title }}",
          "description": "={{ $json.description }}",
          "tags": "={{ $json.hashtags }}",
          "privacyStatus": "public"
        },
        "media": {
          "binaryProperty": "data"
        }
      },
      "id": "6",
      "name": "Upload to YouTube",
      "type": "n8n-nodes-base.youtube",
      "typeVersion": 1,
      "position": [1100, 300],
      "credentials": {
        "youtubeOAuth2Api": {
          "id": "={{ $env.YOUTUBE_CREDENTIAL_ID }}",
          "name": "YouTube Uploader Auth"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "trryy009@gmail.com",
        "toEmail": "trryy008@gmail.com",
        "subject": "✅ New YouTube Short Uploaded!",
        "text": "Title: ={{ $json.title }}\nLink: ={{ $json.videoId }}\nDescription: ={{ $json.description }}\nTags: ={{ $json.hashtags }}"
      },
      "id": "7",
      "name": "Send Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1300, 300]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Fetch Trending Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Trending Video": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Clip 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clip 60s": {
      "main": [
        [
          {
            "node": "Generate Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Metadata": {
      "main": [
        [
          {
            "node": "Set Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Metadata": {
      "main": [
        [
          {
            "node": "Upload to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to YouTube": {
      "main": [
        [
          {
            "node": "Send Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}